[submodule "roc_comparison"]
	path = roc_comparison
	url = https://github.com/yandexdataschool/roc_comparison/
[submodule "hugging-face"]
	path = hugging_face
	url = https://huggingface.co/spaces/Knowles-Lab/tiger
